<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>PDF to Excel Converter</title>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--<link rel="icon" type="image/png" href="/images/D.png">-->
<!--    <style>-->
<!--        body {-->
<!--            margin: 0;-->
<!--            font-family: Arial, sans-serif;-->
<!--            background: linear-gradient(120deg, #4facfe, #00f2fe);-->
<!--            min-height: 100vh;-->
<!--        }-->

<!--        .container {-->
<!--            max-width: 450px;-->
<!--            background: #ffffff;-->
<!--            margin: 80px auto;-->
<!--            padding: 30px;-->
<!--            border-radius: 12px;-->
<!--            box-shadow: 0 10px 25px rgba(0,0,0,0.2);-->
<!--            text-align: center;-->
<!--        }-->

<!--        h1 {-->
<!--            color: #333;-->
<!--            margin-bottom: 10px;-->
<!--        }-->

<!--        .subtitle {-->
<!--            color: #666;-->
<!--            margin-bottom: 25px;-->
<!--            font-size: 14px;-->
<!--        }-->

<!--        .upload-box {-->
<!--            display: flex;-->
<!--            flex-direction: column;-->
<!--            gap: 15px;-->
<!--        }-->

<!--        input[type="file"] {-->
<!--            padding: 10px;-->
<!--            border: 2px dashed #4facfe;-->
<!--            border-radius: 8px;-->
<!--            cursor: pointer;-->
<!--        }-->

<!--        button {-->
<!--            background: #4facfe;-->
<!--            color: white;-->
<!--            border: none;-->
<!--            padding: 12px;-->
<!--            border-radius: 8px;-->
<!--            font-size: 16px;-->
<!--            cursor: pointer;-->
<!--        }-->

<!--        button:hover {-->
<!--            background: #00c6ff;-->
<!--        }-->

<!--        @media (max-width: 600px) {-->
<!--            .container {-->
<!--                margin: 40px 15px;-->
<!--            }-->
<!--        }-->
<!--    </style>-->
<!--</head>-->

<!--<body>-->

<!--<div class="container">-->
<!--    <h1>PDF → Excel</h1>-->
<!--    <p class="subtitle">Convert PDF tables into Excel (.xlsx)</p>-->

<!--    <form method="post"-->
<!--          action="/pdf-to-excel/convert"-->
<!--          enctype="multipart/form-data"-->
<!--          class="upload-box">-->

<!--        <input type="file"-->
<!--               name="file"-->
<!--               accept=".pdf"-->
<!--               required>-->

<!--        <button type="submit">-->
<!--            Convert to Excel-->
<!--        </button>-->
<!--    </form>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->
